body {
	margin: 0%;
	padding: 0.1em;
	overflow: hidden; /* Hide scrollbars */
}

#windowContainer {
	margin: 0.1em;
	width: 100%;
	border: 1px solid black;
}

#gameViewHorizontal {
	margin: 0.1em;
	border: 1px solid red;
	width: 49%;
	float: left;
}
#gameViewVertical {
	margin: 0.1em;
	border: 1px solid red;
	width: 83%;
	float: top;
}

#debugContainer {
	margin: 0.1em;
	border: 1px solid blue;
	font-size: 14px;
	display: flex;
	display: block;
}

.debugItem {
	width: 22em;
	padding: 0.1em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	border: 1px solid gray;
	display: flex;
	align-items: center;
}

.debugSlider {
	font-family: Arial, Helvetica, sans-serif;
}

.debugInputBox {
	font-family: Arial, Helvetica, sans-serif;
	width: 3em;
	font-size: 14px;
}
